* {
    padding: 0;
    margin: 0;
}


.container {

    background-color: rgb(122, 113, 105);


}

.frases {
   
    padding: 3.4rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 252, 243);
    

  }
  


  .foto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.foto img {


    padding-top: 6rem;
    height: 26rem;
    
}